
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#linecomments {
    word-wrap: break-word;
    height: 2.7vw;
    overflow: auto;
}

#linecomments::-webkit-scrollbar {
    display: block;
    background: #F7F21A;
}

#linecomments p {
    color: hotpink;
    border: #21F520 solid 0.01vw;
    font-family: 'Kosugi', sans-serif;

}

#data {
    margin-left: 10vw;
    font-size: 0.5vw;
    font-family: 'VT323', monospace;
    color: #0bbaa0;
}

#linecomments #authorcomment {
    margin-right: 0.2vw;
    margin-left: 0.1vw;
    color: greenyellow;

    font-family: 'Montserrat Subrayada', sans-serif;

}

#loginPicture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3vw;
}


#loginPicture #avatarBasicPost {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    padding: 0.1vw;
}

#loginPicture a {
    text-decoration: none;
    color: greenyellow;
    font-size: 1.5vw;
    margin-left: 1vw;
    font-family: 'Montserrat Subrayada', sans-serif;

}

#picture {
    display: flex;
    flex-direction: column;
    background: black;
}

#picture #date {
    color: #0bbaa0;
    text-align: end;
    font-size: 0.6vw;
    font-family: 'VT323', monospace;
}

#picture #photoPost {
    width: 15vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.05vw #21F520;
}

#comment {
    display: flex;
    flex-direction: row;
    height: 1.5vw;
}


input[name=comments] {
    width: 12vw;
    height: 1.5vw;
    background: #C80D80;
    border: 0vw;
}

button[id=buttonForDraftPost] {
    background: crimson;
    width: 4vw;
    height: 0.8vw;
    border: solid 0.01vw;
    font-size: 0.6vw;
    font-family: 'Black Ops One', cursive;

}

button[class=buttonCamera] {
    background: yellow;
    border: 0;
    width: 5vw;
    height: 1.5vw;
    font-family: 'Black Ops One', cursive;
    font-size: 0.5vw;
}

#uploadPhoto {
    background: yellow;
    margin-left: 0.1vw
}


/*#commentData {*/

/*    margin-right: 0.2vw;*/
/*    font-size: smaller;*/
/*}*/

#butttonFeed {
    display: flex;
    flex-direction: row;
}

#draftFeed {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    justify-content: center;
    border: black solid 1vw;
    align-content: center;
    margin-top: 1vw;
    margin-right: 0.5vw;
    margin-left: 1vw;
}

#livephoto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#draftFeed a {
    background: #0d0d0d;
    color: greenyellow;
    /*text-align: center;*/
    /*width: 8vw;*/
}

#feedAllDrafts {
    display: flex;
    flex-direction: row;
}

#draftFeed img {
    width: 8vw;
    height: 8vw;
}


/*button {*/
/*    background-color: #0bbaa0;*/
/*    width: 3vw;*/

/*}*/

button[id='addComment'] {
    background-color: #0bbaa0;
    width: 5vw;
    height: 1.5vw;
    font-family: 'Black Ops One', cursive;

    font-size: 0.5vw;

}


#formatprofile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.infouser pre {
    text-align: center;
    font-size: 1.5vw;
}

.infouser {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    background: #0d0d0d;
    color: #21F520;
    font-size: smaller;
    position: unset;
    width: 17vw;
    height: 25vw;
}

input[class="buttonEdit"], button[class="buttonEdit"] {
    background: black;
    border: 0;
    color: #21F520;
    font-family: 'VT323', monospace;
}


.infouser form {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: initial;

}

.infouser form p {
    width: 3vw;
    height: 3vw;
    /*word-wrap: break-word;*/
    margin-right: 3.7vw;
    margin-left: 0.5vw;
    font-family: 'Bebas Neue', cursive;
}

.infouser form img {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* max-width: 2000px; */
    clear: both;
    margin: 0 auto;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    align-items: start;
    font-size: 1.3vw;
}

body {
    width: 100%;
    height: 100%;
    /* background: url("backgroudPink.png") 0px 0px repeat; */
    background: #90EE90;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    /*-webkit-flex-flow: row wrap;*/
    /*justify-content: space-around;*/
    /*max-width: 2000px;*/
    width: 100%;
    overflow-x: scroll;

}

.flex-container::-webkit-scrollbar {
    display: block;
    background: #D5265B;
}

#BASICPOST {
    margin-left: 0.7vw;
    width: 16vw;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a {
    color: #ee0d34;
}

footer p {
    color: yellow;
}

footer {
    background: #1D51E5;
    height: 10vw;
}

.post1 img {
    width: 25vw;
    height: 35vw;
}

.slide {
    width: 100vw;
    height: 91.5vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background: #efdefe;
}

.two {
    background: #a3f3d3;
}

.three {
    background: #0bbaa0;
}

.four {
    background: #00dfdf;
}

.posts {
    display: flex;
    flex-direction: row;
}

.post1 {
    display: flex;
    flex-direction: column;
}

.barpost {
    display: flex;
    flex-direction: row;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#filters {
    display: flex;
    flex-direction: column;
    /* background: round; */
    background: yellow;
    margin-right: 7.1vw;
    font-family: 'Black Ops One', cursive;
    font-size: 0.6vw;

}

#filters pre, #uploadPhoto pre {

    font-family: 'Zilla Slab Highlight', cursive;
    text-align: center;
    font-stretch: expanded;
    font-size: 0.6vw;
}

header a {
    color: #230D21;
}

label {
    align-items: center;
}

input[class=uploadPhotoBut], button[class=uploadPhotoBut] {
    color: yellow;
    background: #0d0d0d;
}

button[id=GoButton] {
    width: 9vw;
    height: 5vw;
    font-size: 1.5vw;
    border: solid 0.5vw yellow;
}

#lineAddTakePhoto {
    display: flex;
    flex-direction: row;
    background: #F64A8A;
    justify-content: space-between;
}

#block {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    margin-right: 20vw;
}


#likes input[type=image] {
    width: 1vw;
    height: 1vw;
    margin-left: 1vw;
}

#likes img {
    width: 1vw;
    height: 1vw;
    margin-left: 1vw;
}

#likes p {
    color: #21F520;
    margin-left: 1vw;
    font-size: x-large;
}

#likes {
    display: flex;
    flex-direction: row;
}


input[name=plus] {
    width: 3vw;
    height: 1.5vw;
    background: greenyellow;
    border: black solid 0.1vw;
    border-width: 0.1vw 0vw 0px 0vw;
}

#id {
    color: #43EE30;
    background: #ee0d34;
}

#label {
    background: #1D51E5;
    width: 70%;
    text-decoration: none;
}

#dope {
    background: #0bbaa0;
    width: 30%;
    text-decoration: none;
}

#profile {
    background: #C80D80;
    width: 30%;
    text-decoration: none;
}

#logout {
    background: #43EE30;
    width: 20%;
    text-decoration: none;
}

div img {
    width: 100px;
}


@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
    color: #C80D80;
}


