@import "compass/css3";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#butttonFeed {
    display: flex;
    flex-direction: row;
}

#draftFeed {
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 8vw;
    margin-bottom: 1vw;
    justify-content: center;
    border: black solid 1vw;
    align-content: center;
    margin-top: 1vw;
    margin-right: 0.5vw;
    margin-left: 1vw;
}

#draftFeed a {
    background: #0d0d0d;
    color: greenyellow;
    /*text-align: center;*/
    /*width: 8vw;*/
}

#feedAllDrafts {
    display: flex;
    flex-direction: row;
}

#draftFeed img {
    width: 8vw;
    height: 8vw;
}

body {
    width: 100%;
    height: 100%;
    /* background: url("backgroudPink.png") 0px 0px repeat; */
    background: #90EE90;
}

button {
    background-color: #0bbaa0;
    width: 3vw;

}

#formatprofile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.infouser {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: space-evenly;

}

.infouser form {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: flex-start;

}

.infouser form img {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin-right: 3%;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    height: 100px;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    max-width: 2000px;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a {
    color: #ee0d34;
}

footer p {
    color: yellow;
}

footer {
    background: #1D51E5;
    height: 10vw;
}

.post1 img {
    width: 25vw;
    height: 35vw;
}

.slide {
    width: 100vw;
    height: 91.5vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .one {
    background: #efdefe;
  }
  .two {
    background: #a3f3d3;
  }
  .three {
    background: #0bbaa0;
  }
  .four {
    background: #00dfdf;
  }

.posts {
    display: flex;
    flex-direction: row;
}

.post1 {
    display: flex;
    flex-direction: column;
}

.barpost {
    display: flex;
    flex-direction: row;
}
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

 

/* .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 2000px;
    clear: both;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: black;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    display: -moz-box;
} */

li {
    margin-top: 1vw;
}

#lineAddTakePhoto {
    display: flex;
    flex-direction: column;
    background: darksalmon;
}

#block{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    margin-right: 20vw;
}

#picture {
    display: flex;
    flex-direction: column;
    background: black;
}

#picture img {
    width: 15vw;
    height: 15vw;
}

#likes input[type=image] {
    width: 1vw;
    height: 1vw;
    margin-left: 1vw;
}

#likes img {
    width: 1vw;
    height: 1vw;
    margin-left: 1vw;
}

#likes p {
    color: #21F520;
    margin-left: 1vw;
    font-size: x-large;
}

#likes {
    display: flex;
    flex-direction: row;
}

#loginPicture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 76.8px;
}

#loginPicture img {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin-right: 30%;
    padding: 0.1vw;
}

#loginPicture a {
    text-decoration: none;
    color: greenyellow;
    font-size: 1.5vw;
}


#comment {
    display: flex;
    flex-direction: row;
    height: 1.7vw;
}

input[name=comments] {
    width: 12vw;
    height: 1.5vw;
    background: #C80D80;
    border: black solid 0.1vw;
    border-width: 0.1vw 0.1vw 0px 0vw;

}

input[name=plus] {
    width: 3vw;
    height: 1.5vw;
    background: greenyellow;
    border: black solid 0.1vw;
    border-width: 0.1vw 0vw 0px 0vw;
}

#id {
    color: #43EE30;
    background: #ee0d34;
}

#label {
    background: #1D51E5;
    width: 70%;
    text-decoration: none;
}

#dope {
    background: #009BA7;
    width: 30%;
    text-decoration: none;
}

#profile {
    background: #C80D80;
    width: 30%;
    text-decoration: none;
}

#logout {
    background: #43EE30;
    width: 20%;
    text-decoration: none;
}

div img {
    width: 100px;
}


@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
    color: #C80D80;
}


